<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Menu Bar</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://cdn.muicss.com/mui-0.9.36/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.muicss.com/mui-0.9.36/js/mui.min.js"></script>
    <link rel="stylesheet" href="../styles/menubar.css" />
  </head>
  <body>
    <div id="backdrop"></div>
    <div class="container">
      <div id="loader" style="color: #529B80; position: absolute;" class="la-line-scale-pulse-out la-3x">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div>
      <div id="equity-container">
        <div id="preferences" onclick="openPreferences()">
          <img src="../assets/settings-work-tool.png" />
        </div>
        <div id="reload" onclick="refresh()">
          <img src="../assets/reload.png" />
        </div>
        <div id="day-end-equity">
        </div>
        <div id="profit">
        </div>
        <div id="after-hours-profit">
        </div>
      </div>
      <div id="positions">
      </div>
    </div>

    <script>
      const { remote, ipcRenderer } = require('electron');
      const moment = require('moment-timezone');

      const equityContainer = document.getElementById('day-end-equity');
      const profitContainer = document.getElementById('profit');
      const afterHoursProfitContainer = document.getElementById('after-hours-profit');
      const positionsContainer = document.getElementById('positions');

      let data = null;
      let preferences = null;

      /* Draggable Code */
      let dragObj = null;
      let positionsElements = null;
      // let placeholder.
      const placeholder = document.createElement('div');
      function draggable(obj) {
        obj.onmousedown = function(){
          dragObj = obj;
          /* Create Placeholder object */

          dragObj.style.position = 'absolute';
          const width = positionsContainer.offsetWidth;
          const height = positionsContainer.offsetHeight;

          placeholder.style.width = `${dragObj.offsetWidth}px`;
          placeholder.style.height = `${dragObj.offsetHeight}px`;
          placeholder.className = 'stock-container placeholder';

          dragObj.insertAdjacentElement('beforebegin', placeholder);

          dragObj.style.width = `${width}px`;
          dragObj.style.background = '#212025';
          const oldTop = dragObj.offsetTop;
          dragObj.style.top = `${oldTop - dragObj.offsetHeight}px`;
          console.log(oldTop);
          // console.log(dragObj.style.top);
          // const top = dragObj.style.top;
          // console.log('Top is: ' + top);
        }
      }

      document.onmouseup = function(e){
        dragObj.style.background = '#303032';
        dragObj = null;
      };

      document.onmousemove = function(e){
        if (dragObj == null) {
          return;
        }
        // console.log(dragObj.style.top, e.pageY);
        const y = e.pageY;
        dragObj.style.top= `${y}px`;

        const { top, bottom, height } = dragObj.getBoundingClientRect();
        // console.log('dragobj top: ' + top);

        positionsElements = positionsContainer.childNodes;
        /* If the dragged object collides with another object, then we swap it with the placeholder */
        positionsElements.forEach((el) => {
          const rect = el.getBoundingClientRect();
          if (Math.abs(top - rect.top) <= height && !el.className.includes('placeholder') && el !== dragObj) {
            const dy1 = top - rect.bottom;
            const dy2 = rect.top - bottom;
            if (Math.abs(dy1) >= (height / 2) && Math.abs(dy1) < height) {
              console.log(`Intersected with ${el.innerHTML} from the bottom!`);
            } else if (Math.abs(dy2) >= (height / 2) && Math.abs(dy2) < height) {
              console.log(`Intersected with ${el.innerHTML} from the top!`);
            }
          }
        });
      };

      function isAfterHours() {
        const EST = moment().tz('America/New_York');
        const hours = EST.hours();
        if (hours < 16) {
          return false;
        }
        return true;
      }

      function openPreferences() {
        ipcRenderer.send('open-preferences', true);
      }

      function blurMenu() {
        loader.style.display = 'block';
        document.getElementById('reload').children[0].classList.add('reloading')
        positionsContainer.childNodes.forEach((el) => {
          el.classList.add('blur');
        });
      }

      /* Triggers a manual refresh */
      function refresh() {
        blurMenu();
        ipcRenderer.send('manual-refresh', true);
        /* BLUR OUT ALL OF THE OTHER STOCK THINGS */
      }

      /* Code to calculate the equity of a user's RH profile.
        Takes into account after-hours markets.
      */
      function calculateEquity() {
        const portfolio = data._portfolio;
        const equity = `$${Number(portfolio.extended_hours_equity || portfolio.equity).toFixed(2)}`;

        let equityDifference = Number(portfolio.equity) - Number(portfolio.adjusted_equity_previous_close);
        const sign = equityDifference >= 0 ? '+' : '-';
        if (preferences.viewChangeBy === 'percent') {
          equityDifference = `${sign}${Math.abs(100 * equityDifference/Number(portfolio.adjusted_equity_previous_close)).toFixed(4)}%`;
        } else {
          equityDifference = `${sign}$${Math.abs(equityDifference.toFixed(2))}`;
        }

        let afterHoursEquityDifference = null;
        if (isAfterHours()) {
          afterHoursEquityDifference = Number(portfolio.extended_hours_equity) - Number(portfolio.equity);
          const afterHoursSign = afterHoursEquityDifference >= 0 ? '+' : '-';
          if (preferences.viewChangeBy === 'percent') {
            afterHoursEquityDifference = `${afterHoursSign}${Math.abs(100 * afterHoursEquityDifference/Number(portfolio.equity)).toFixed(4)}%`;
          } else {
            afterHoursEquityDifference = `${afterHoursSign}$${Math.abs(afterHoursEquityDifference.toFixed(2))}`;
          }
        }
        const didProfit = sign === '+';

        return { equity, equityDifference, afterHoursEquityDifference, didProfit };
      }


      /*
        Note to anyone who might be reading this:
        If you want to start working on a project and think
        "Oh okay I won't use a framework because it's overkill",
        please do not make the mistake I did and use vanilla JS.
        I WISH I WROTE THIS IN REACT >:(
      */
      ipcRenderer.on('data', (event, message) => {
        data = message.data;
        preferences = message.preferences;

        // console.log(data, preferences);
        const loader = document.getElementById('loader');
        loader.style.display = 'none';

        document.getElementById('reload').children[0].className = '';
        // loader.parentNode.removeChild(loader);

        const { equity, equityDifference, afterHoursEquityDifference, didProfit } = calculateEquity();
        equityContainer.innerHTML = equity;
        profitContainer.innerHTML = `${equityDifference} ${moment().format('MMM DD, YYYY')}`;
        if (afterHoursEquityDifference) {
          afterHoursProfitContainer.innerHTML = `${afterHoursEquityDifference} After Hours`;
        } else {
          afterHoursProfitContainer.innerHTML = '';
        }

        /* If there was an overall loss, change the background color to red. */
        if (!didProfit) {
          document.body.classList.add('equity-loss');
        } else {
          document.body.className = '';
        }

        /* Delete Child nodes from positions container. */
        while (positionsContainer.hasChildNodes()) {
          positionsContainer.removeChild(positionsContainer.lastChild);
        }

        const fragment = document.createDocumentFragment();
        data._positions.forEach((data) => {
          let price = Number(data.quote.last_extended_hours_trade_price) || Number(data.quote.last_trade_price);
          let oldPrice = data.quote.previous_close;

          let difference = (price - oldPrice);
          const sign = difference >= 0 ? '+' : '-';
          if (preferences.viewChangeBy === 'percent') {
            difference = `${sign}${Math.abs(100 * difference/Number(oldPrice)).toFixed(4)}%`
          } else {
            difference = `${sign}$${Math.abs(difference.toFixed(2))}`;
          }

          const container = document.createElement('div');
          container.className = 'stock-container';

          const el = document.createElement('div');
          el.className = 'stock';


          const symbolContainer = document.createElement('div');
          symbolContainer.className = 'symbol-container';

          const symbol = document.createElement('div');
          symbol.innerHTML = data.symbol;
          symbol.className = 'symbol';

          const numShares = document.createElement('p');
          numShares.innerHTML = `${data.quantity} ${data.quantity > 1 ? 'Shares' : 'Share'}`;

          symbolContainer.appendChild(symbol);
          symbolContainer.appendChild(numShares);

          const differenceContainer = document.createElement('div');
          differenceContainer.className = 'difference-container';

          if (difference[0] !== '+') {
            differenceContainer.classList.add('equity-loss');
          }
          differenceContainer.innerHTML = difference;

          // el.onclick = () => {
          //   ipcRenderer.send('show-stock-info', {
          //     symbol: data.symbol,
          //     color: difference[0] === '+' ? '#50A885' : '#E35F3E',
          //   });
          // }

          el.appendChild(symbolContainer);
          el.appendChild(differenceContainer);
          container.appendChild(el);
          draggable(container);

          fragment.append(container);
        });
        positionsContainer.appendChild(fragment);
      });

      /* Blur the UI when command+r is pressed */
      ipcRenderer.on('command-r', () => blurMenu());

      require('../renderer.js');
    </script>
  </body>
</html>

