<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Menu Bar</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://cdn.muicss.com/mui-0.9.36/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.muicss.com/mui-0.9.36/js/mui.min.js"></script>
    <link rel="stylesheet" href="../styles/menubar.css" />
</head>

<body>
    <div id="backdrop"></div>
    <div class="container">
        <div id="loader" style="color: #529B80; position: absolute;" class="la-line-scale-pulse-out la-3x">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div id="equity-container">
            <div id="preferences" onclick="openPreferences()">
                <img src="../../assets/settings-work-tool.png" />
            </div>
            <div id="reload" onclick="refresh()">
                <img src="../../assets/reload.png" />
            </div>
            <div id="day-end-equity">
            </div>
            <div id="profit">
            </div>
            <div id="after-hours-profit">
            </div>
        </div>
        <div class="tab-container">
            <div class="tab active" id="stocks-tab" onclick="switchTab(event, 0)">
                Stocks
            </div>
            <div class="tab" id="watchlist-tab" onclick="switchTab(event, 1)">
                Watchlist
            </div>
        </div>
        <div id="positions" class="active">
        </div>
        <div id="watchlist">
            asdfasdf
        </div>
    </div>
    <nav id="context-menu" class="context-menu">
        <ul class="context-menu__items">
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="View">
                    <i class="fa fa-eye"></i> View Task</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Edit">
                    <i class="fa fa-edit"></i> Edit Task</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Delete">
                    <i class="fa fa-times"></i> Delete Task</a>
            </li>
        </ul>
    </nav>

    <script>
        const { remote, ipcRenderer } = require('electron');
        const { isAfterHours } = require('../utils/stockHelpers.js');
        const { removeClass } = require('../utils/domHelpers.js');
        const moment = require('moment-timezone');

        const tabContainer = document.getElementsByClassName('tab-container')[0];
        const equityContainer = document.getElementById('day-end-equity');
        const profitContainer = document.getElementById('profit');
        const afterHoursProfitContainer = document.getElementById('after-hours-profit');
        const positionsContainer = document.getElementById('positions');
        const watchlistContainer = document.getElementById('watchlist');

        let tabIndex = 0;
        let timeoutId = null;
        let data = null;
        let preferences = null;

        let positionsIndices = null;
        let watchlistIndices = null;
        /* Draggable Code */
        let dragObj = null;
        let positionsElements = null;
        const placeholder = document.createElement('div');

        /* Grab a reference to the parent container of each <div> so that offset can be
        correctly calculated*/
        function draggable(obj, container) {
            obj.onmousedown = function (e) {
                if (e.which === 1) {
                    if (isReloading()) {
                        return;
                    }
                    dragObj = obj;
                    dragObj.yGrabPos = e.pageY;
                    dragObj.container = container;
                    console.log(dragObj.container);
                    /* Create Placeholder object */

                    dragObj.style.position = 'absolute';
                    const width = dragObj.container.offsetWidth;
                    const height = dragObj.container.offsetHeight;

                    placeholder.style.width = `${dragObj.offsetWidth}px`;
                    placeholder.style.height = `${dragObj.offsetHeight}px`;
                    placeholder.className = 'stock-container placeholder';

                    dragObj.insertAdjacentElement('beforebegin', placeholder);

                    dragObj.style.width = `${width}px`;
                    dragObj.style.background = '#212025';
                    const oldTop = dragObj.offsetTop;
                    const newTop = oldTop - dragObj.offsetHeight - dragObj.container.scrollTop;
                    dragObj.style.top = `${newTop}px`;

                    // const interval = setTimeout(() => obj.classList.add('shaking'), 500);
                } else if (e.which === 3) {
                    console.log('RIGHT CLICK')
                }

            }
        }

        document.onmouseup = function (e) {
            if (e.which === 1) {
                if (!positionsElements) {
                    return;
                }
                positionsElements.sort((a, b) => {
                    const rect1 = a.el.getBoundingClientRect();
                    const rect2 = b.el.getBoundingClientRect();
                    return rect1.top < rect2.top ? -1 : 1;
                });
                const ordering = positionsElements
                    .filter((node) => !node.el.className.includes('placeholder'))
                    .map((node) => node.el.children[0].children[0].children[0].innerHTML);

                /* Sort either the positions container or the watchlist container*/
                if (tabIndex === 0) {
                    const sortedPositions = new Array(data._positions.length);
                    data._positions.forEach((position) => {
                        const index = ordering.indexOf(position.symbol);
                        sortedPositions[index] = position;
                    });
                    positionsIndices = sortedPositions.map((position) => position.symbol);
                    console.log(positionsIndices);
                    data._positions = sortedPositions;
                } else if (tabIndex === 1) {
                    const sortedWatchlist = new Array(data._watchlist.length);
                    data._watchlist.forEach((watchlist) => {
                        const index = ordering.indexOf(watchlist.symbol);
                        sortedWatchlist[index] = watchlist;
                    });
                    watchlistIndices = sortedWatchlist.map((watchlist) => watchlist.symbol);
                    console.log(watchlistIndices);
                    data._watchlist = sortedWatchlist;
                }

                renderDOMElements();
                // removeClass(dragObj, 'shaking');
                dragObj.style.background = '#303032';
                dragObj = null;
                positionsElements = null;
            } else if (e.which === 3) {
                console.log('.... what do i do')
            }


        };

        function animate(el, height) {
            const animation = el.animate([
                {
                    transform: `translateY(${height}px)`
                }
            ], {
                    duration: 50,
                    fill: 'forwards',
                    easing: 'ease-in',
                });
            animation.direction = height >= 0 ? 'down' : 'up';
            return animation;
        }

        document.onmousemove = function (e) {
            if (dragObj == null) {
                return;
            }
            const { top: boundaryTop } = dragObj.container.getBoundingClientRect();
            const { top, bottom, height } = dragObj.getBoundingClientRect();

            const y = e.pageY;
            const deltaY = y - dragObj.yGrabPos;
            dragObj.yGrabPos = y;
            if (top + deltaY > boundaryTop) {
                dragObj.style.top = `${top + deltaY}px`;
            }

            if (!positionsElements) {
                positionsElements = Array.from(dragObj.container.childNodes).map(el => {
                    return { el, animation: null };
                });
            }

            /* If the dragged object collides with another object, then we swap it with the placeholder */
            positionsElements.forEach((node) => {
                const { el } = node;
                const rect = el.getBoundingClientRect();
                if (Math.abs(top - rect.top) <= height && !el.className.includes('placeholder') && el !== dragObj) {
                    const dy1 = top - rect.bottom;
                    const dy2 = rect.top - bottom;
                    if (Math.abs(dy1) >= (height / 2) && Math.abs(dy1) < height) {
                        /* Need to swap el down*/
                        if (node.animation && node.animation.direction === 'down') {
                            console.log('Intersected node already has an in-progress animation (down). Returning');
                            return;
                        } else if (node.animation && node.animation.direction === 'up') {
                            if (node.animation.playState === 'finished') {
                                console.log('opposite, up, finished')
                                node.animation.reverse();
                                return;
                            } else if (node.animation.playState === 'pending') {
                                console.log('play', node.animation);
                                node.animation.play();
                                return;
                            } else {
                                console.log(node.animation)
                                console.log('opposite, up, unfinished')
                                return;
                            }
                        }
                        node.animation = animate(el, height);
                    } else if (Math.abs(dy2) >= (height / 2) && Math.abs(dy2) < height) {
                        /* Need to swap el up*/
                        if (node.animation && node.animation.direction === 'up') {
                            console.log('Intersected node already has an in-progress animation (up). Returning');
                            return;
                        } else if (node.animation && node.animation.direction === 'down') {
                            if (node.animation.playState === 'finished') {
                                console.log('opposite, down, finished')
                                node.animation.reverse();
                                return;
                            } else if (node.animation.playState === 'pending') {
                                console.log('play', node.animation);
                                node.animation.play();
                                return;
                            } else {
                                console.log('opposite, down, unfinished')
                                return;
                            }
                        }
                        node.animation = animate(el, -height);
                    }
                } else if (Math.abs(top - rect.top) > height && node.animation) {

                }
            });
        };

        function openPreferences() {
            ipcRenderer.send('open-preferences', true);
        }

        function blurMenu() {
            loader.style.display = 'block';
            const spinner = document.getElementById('reload').children[0];
            spinner.classList.add('reloading');
            if (Number(data._portfolio.equity) - Number(data._portfolio.adjusted_equity_previous_close) < 0) {
                loader.classList.add('equity-loss');
            }
            removeClass(loader, 'equity-loss');
            positionsContainer.childNodes.forEach((el) => {
                el.classList.add('blur');
            });
            watchlistContainer.childNodes.forEach((el) => {
                el.classList.add('blur');
            });
        }

        /* Triggers a manual refresh */
        function refresh() {
            blurMenu();
            ipcRenderer.send('manual-refresh', true);
            /* BLUR OUT ALL OF THE OTHER STOCK THINGS */
        }

        /* Code to calculate the equity of a user's RH profile.
          Takes into account after-hours markets.
        */
        function calculateEquity() {
            const portfolio = data._portfolio;
            const equity = `$${Number(portfolio.extended_hours_equity || portfolio.equity).toFixed(2)}`;

            let equityDifference = Number(portfolio.equity) - Number(portfolio.adjusted_equity_previous_close);
            const sign = equityDifference >= 0 ? '+' : '-';
            if (preferences.viewChangeBy === 'percent') {
                equityDifference = `${sign}${Math.abs(100 * equityDifference / Number(portfolio.adjusted_equity_previous_close)).toFixed(4)}%`;
            } else {
                equityDifference = `${sign}$${Math.abs(equityDifference.toFixed(2))}`;
            }

            let afterHoursEquityDifference = null;
            if (isAfterHours()) {
                afterHoursEquityDifference = Number(portfolio.extended_hours_equity) - Number(portfolio.equity);
                const afterHoursSign = afterHoursEquityDifference >= 0 ? '+' : '-';
                if (preferences.viewChangeBy === 'percent') {
                    afterHoursEquityDifference = `${afterHoursSign}${Math.abs(100 * afterHoursEquityDifference / Number(portfolio.equity)).toFixed(4)}%`;
                } else {
                    afterHoursEquityDifference = `${afterHoursSign}$${Math.abs(afterHoursEquityDifference.toFixed(2))}`;
                }
            }
            const didProfit = sign === '+';

            return { equity, equityDifference, afterHoursEquityDifference, didProfit };
        }

        function isReloading() {
            return document.getElementById('reload').children[0].classList.contains('reloading');
        }

        /* Attached as onclick handler for Stocks and Watchlist tabs */
        function switchTab(event, index) {
            /* If reloading, prevent clicking on tab */
            if (isReloading()) {
                return;
            }
            tabIndex = index;
            for (let i = 0; i < tabContainer.children.length; ++i) {
                if (i === tabIndex) {
                    tabContainer.children[i].classList.add('active');
                }
                removeClass(tabContainer.children[i], 'active');
            }
            if (tabIndex === 0) {
                positionsContainer.className = 'active';
                watchlistContainer.className = '';
            } else if (tabIndex === 1) {
                positionsContainer.className = '';
                watchlistContainer.className = 'active';
            }
        }

        /* Helper function called when data comes in from IPC. If positionsIndices, watchlistIndices == null, then
        we ignore.*/
        function sortData(messageData) {
            if (positionsIndices !== null && positionsIndices.length === messageData._positions.length) {
                const sortedPositions = new Array(messageData._positions.length);
                messageData._positions.forEach((position) => {
                    const index = positionsIndices.indexOf(position.symbol);
                    sortedPositions[index] = position;
                });
                messageData._positions = sortedPositions;
            }

            if (watchlistIndices !== null && watchlistIndices.length === messageData._watchlist.length) {
                const sortedWatchlist = new Array(messageData._watchlist.length);
                messageData._watchlist.forEach((position) => {
                    const index = watchlistIndices.indexOf(position.symbol);
                    sortedWatchlist[index] = position;
                });
                messageData._watchlist = sortedWatchlist;
            }
            return messageData;
        }

        /*
          Note to anyone who might be reading this:
          If you want to start working on a project and think
          "Oh okay I won't use a framework because it's overkill",
          please do not make the mistake I did and use vanilla JS.
          I WISH I WROTE THIS IN REACT >:(
        */
        ipcRenderer.on('data', (event, message) => {
            data = sortData(message.data);
            // console.log(data);
            preferences = message.preferences;
            repaintDOM();
        });

        function repaintDOM() {
            /* If data comes in, we want to delay the DOM repainting until dragObj is null. Otherwise, focus is lost on the dragObj*/
            if (dragObj !== null) {
                console.log('DragObj is not null');
                window.setTimeout(repaintDOM, 100);
                return;
            }
            if (timeoutId !== null) {
                clearTimeout(timeoutId);
                timeoutId = null;
            }

            const loader = document.getElementById('loader');
            loader.style.display = 'none';

            document.getElementById('reload').children[0].className = '';
            // loader.parentNode.removeChild(loader);

            const { equity, equityDifference, afterHoursEquityDifference, didProfit } = calculateEquity();
            equityContainer.innerHTML = equity;
            profitContainer.innerHTML = `${equityDifference} ${moment().format('MMM DD, YYYY')}`;
            if (afterHoursEquityDifference) {
                afterHoursProfitContainer.innerHTML = `${afterHoursEquityDifference} After Hours`;
            } else {
                afterHoursProfitContainer.innerHTML = '';
            }

            /* If there was an overall loss, change the background color to red. */
            if (!didProfit) {
                document.body.classList.add('equity-loss');
                tabContainer.classList.add('equity-loss');
            } else {
                document.body.className = '';
                tabContainer.className = 'tab-container';
            }

            renderDOMElements();
        }


        function renderDOMElements() {
            /* Repaint the positions container*/
            while (positionsContainer.hasChildNodes()) {
                positionsContainer.removeChild(positionsContainer.lastChild);
            }

            let fragment = document.createDocumentFragment();
            data._positions.forEach((data) => {
                let price = Number(data.quote.last_extended_hours_trade_price) || Number(data.quote.last_trade_price);
                let oldPrice = data.quote.previous_close;

                let difference = (price - oldPrice);
                const sign = difference >= 0 ? '+' : '-';
                if (preferences.viewChangeBy === 'percent') {
                    difference = `${sign}${Math.abs(100 * difference / Number(oldPrice)).toFixed(4)}%`
                } else {
                    difference = `${sign}$${Math.abs(difference.toFixed(2))}`;
                }

                const container = document.createElement('div');
                container.className = 'stock-container';

                const el = document.createElement('div');
                el.className = 'stock';


                const symbolContainer = document.createElement('div');
                symbolContainer.className = 'symbol-container';

                const symbol = document.createElement('div');
                symbol.innerHTML = data.symbol;
                symbol.className = 'symbol';

                const numShares = document.createElement('p');
                numShares.innerHTML = `${data.quantity} ${data.quantity > 1 ? 'Shares' : 'Share'}`;

                symbolContainer.appendChild(symbol);
                symbolContainer.appendChild(numShares);

                const differenceContainer = document.createElement('div');
                differenceContainer.className = 'difference-container';

                if (difference[0] !== '+') {
                    differenceContainer.classList.add('equity-loss');
                }
                differenceContainer.innerHTML = difference;

                el.appendChild(symbolContainer);
                el.appendChild(differenceContainer);
                container.appendChild(el);
                draggable(container, positionsContainer);

                fragment.append(container);
            });
            positionsContainer.appendChild(fragment);

            /* Repaint the watchlistContainer */
            while (watchlistContainer.hasChildNodes()) {
                watchlistContainer.removeChild(watchlistContainer.lastChild);
            }

            fragment = document.createDocumentFragment();
            data._watchlist.forEach((quote) => {
                // for (let position of data._positions) {
                //   if (position.symbol === quote.symbol) {
                //     return;
                //   }
                // }
                let price = Number(quote.last_extended_hours_trade_price) || Number(quote.last_trade_price);
                let oldPrice = quote.previous_close;

                let difference = (price - oldPrice);
                const sign = difference >= 0 ? '+' : '-';
                if (preferences.viewChangeBy === 'percent') {
                    difference = `${sign}${Math.abs(100 * difference / Number(oldPrice)).toFixed(4)}%`
                } else {
                    difference = `${sign}$${Math.abs(difference.toFixed(2))}`;
                }

                const container = document.createElement('div');
                container.className = 'stock-container';

                const el = document.createElement('div');
                el.className = 'stock';


                const symbolContainer = document.createElement('div');
                symbolContainer.className = 'symbol-container';

                const symbol = document.createElement('div');
                symbol.innerHTML = quote.symbol;
                symbol.className = 'symbol';

                symbolContainer.appendChild(symbol);

                const differenceContainer = document.createElement('div');
                differenceContainer.className = 'difference-container';

                if (difference[0] !== '+') {
                    differenceContainer.classList.add('equity-loss');
                }
                differenceContainer.innerHTML = difference;

                el.appendChild(symbolContainer);
                el.appendChild(differenceContainer);
                container.appendChild(el);
                draggable(container, watchlistContainer);

                fragment.append(container);
            });
            watchlistContainer.appendChild(fragment);
        }

        require('../renderer.js');
    </script>
</body>

</html>
