<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>RH Ticker</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="../styles/chartist.min.css">
    <link rel="stylesheet" href="../styles/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="../styles/stock.css">

</head>

<body>
    <div id="backdrop">
    </div>

    <div id="title-container">
    </div>
    <div class=".ct-chart .ct-golden-section" id="chart">

    </div>
    <script>
        const {
            remote,
            ipcRenderer
        } = require('electron');
        const Chartist = require('chartist');
        require('../utils/chartist-plugin-threshold.min.js');
        require('../utils/chartist-target-line.min.js');
        // require('../utils/chartist-plugin-tooltip.js');

        let points;
        let tooltip;
        /* Render the chart when the data has come in from ipcMain */
        ipcRenderer.on('data', (event, message) => {
            const {
                data,
                symbol,
                price,
            } = message;
            const marketOpen = data[0].marketOpen;
            const marketClose = data[0].marketClose;
            const className = marketClose < marketOpen ? 'loss' : 'gain';
            const color = marketClose < marketOpen ? '#e35f3e' : '#50a885';
            points = data.map((item) => {
                return {
                    x: item.label,
                    y: item.average,
                };
            }).filter((point) => point.y >= 0);

            const container = document.getElementById('title-container');

            // document.getElementById('title').innerHTML = symbol;
            const title = document.createElement('div');
            title.className = 'title';
            title.innerHTML = symbol;

            container.appendChild(title);

            tooltip = document.createElement('div');
            tooltip.className = 'tooltip';
            tooltip.innerHTML = price;

            container.appendChild(tooltip);


            const labels = points.map((point) => point.y);
            const chart = new Chartist.Line('#chart', {
                series: [{
                    name: symbol,
                    data: points,
                    className,
                    labels,
                }],
            }, {
                fullWidth: true,
                chartPadding: 20,
                axisX: {
                    showGrid: false,
                },
                height: '535px',
                targetLine: {
                    value: marketOpen,
                },
                plugins: [
                    Chartist.plugins.ctThreshold({
                        threshold: marketOpen,
                    }),
                    Chartist.plugins.ctTargetLine({
                        value: marketOpen,
                    }),
                ],
            });

            chart.on('draw', (data) => {
                const {
                    x: time,
                    y: price,
                } = points[data.index];
                data.element.getNode().addEventListener('mouseover', (e) => {
                    handleMouseOver(e.pageY, price, time);
                });
            });


        });

        function handleMouseOver(pageY, price, time) {
            console.log('in handle mouse over');
            tooltip.innerHTML = price;
        }
    </script>
</body>

</html>
