@font-face {
    font-family: 'Din';
    src: url('../assets/DIN-Medium.ttf');
}

@font-face {
    font-family: 'Din-Light';
    src:  url('../assets/DIN-Light.ttf');
}

body {
    display: flex;
    font-family: 'Din-Light', sans-serif;
    font-weight: 100;
    user-select: none;
    background-color:  #61CA9D;

}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}
body.equity-loss {
    background-color: #E35F3E;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh
}

#backdrop {
    position: absolute;
    height: 400px;
    background-color: #1B1B1D;
    width: 100vw;
    top: 100px;
    z-index: -1
}

#equity-container {
    width: 235px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin: 10px 0;
    text-align: center;
}

#day-end-equity {
    font-size: 28px;
    color: #fafafa;
    margin: 0;
}

#profit {
    font-family: 'Din';
}

#positions, #watchlist {
    width: 235px;
    max-height: 400px;
    overflow-y: scroll;
    /* flex:  1 1 auto; */
    background-color: #303032;
    border-radius: 2px;
    margin: 10px 0;
    margin-top: 5px;
    display: none;
}

#positions.active, #watchlist.active {
    transition: all 1s linear;
    display: block;
}

#positions::-webkit-scrollbar,
#watchlist::-webkit-scrollbar {
  display: none;
}

.stock {
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    transition: background-color 100ms linear;
}

.stock:hover {
    cursor: pointer;
    background-color: #212025;
}

.stock > .symbol-container > div,
.stock > .symbol-container > p,
.stock > .difference-container {
    opacity: 1;
    transition: opacity 0.25s;
}

.stock > .difference-container.equity-loss {
    color:  #E35F3E;
}

.blur .symbol-container > div,
.blur .symbol-container > p,
.blur .difference-container {
    opacity: 0;
}


.blur .stock:hover {
    cursor: default;
    background-color: initial;
}

.symbol-container {
    display:  flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color:  #fafafa;
    margin-left: 10px;
    /* background-color: red; */
}

.symbol {
    font-size: 20px;
}

.symbol-container > p {
    margin: 0;
    font-family: 'Din-Light';
    font-size: 12px;
    color:  lightgrey;
}

.difference-container {
    text-align: left;
    margin-right: 10px;
    font-size: 24px;
    color: #61CA9D;
}

#preferences {
    position: absolute;
    top: 10px;
    right: 10px;
}

#preferences:hover {
    cursor: pointer;
}

#preferences > img {
    height: 20px;
    width: 20px;
}

#reload {
    position: absolute;
    top: 10px;
    left: 10px;
}

#reload:hover {
    cursor: pointer;
}

#reload > img {
    height: 20px;
    width: 20px;

}

.reloading {
    animation: rotate 1.5s linear infinite;
}

.tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:  center;
    margin-top: 15px;
    border-radius: 2px;
    color:   #61CA9D;
    height: 30px;
    width:  235px;
}

.tab-container.equity-loss {
    color:  #E35F3E;
}

.tab-container > .tab {
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-bottom:  1.5px solid #1B1B1D;
    transition: all 0.3s ease-in-out;
}


.tab-container > .tab.active {
    border-bottom:  1.5px solid #61AC9D;
}

.tab-container.equity-loss > .tab.active {
    border-bottom:  1.5px solid #E35F3E;
}

#loader {
    top:  250px;
}

#loader.equity-loss {
    color: #E35F3E!important;
}


/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-line-scale-pulse-out,
.la-line-scale-pulse-out > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-line-scale-pulse-out {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-line-scale-pulse-out.la-dark {
    color: #333;
}
.la-line-scale-pulse-out > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-line-scale-pulse-out {
    width: 40px;
    height: 32px;
}
.la-line-scale-pulse-out > div {
    width: 4px;
    height: 32px;
    margin: 2px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    -webkit-animation: line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
       -moz-animation: line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
         -o-animation: line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
            animation: line-scale-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
}
.la-line-scale-pulse-out > div:nth-child(3) {
    -webkit-animation-delay: -.9s;
       -moz-animation-delay: -.9s;
         -o-animation-delay: -.9s;
            animation-delay: -.9s;
}
.la-line-scale-pulse-out > div:nth-child(2),
.la-line-scale-pulse-out > div:nth-child(4) {
    -webkit-animation-delay: -.7s;
       -moz-animation-delay: -.7s;
         -o-animation-delay: -.7s;
            animation-delay: -.7s;
}
.la-line-scale-pulse-out > div:nth-child(1),
.la-line-scale-pulse-out > div:nth-child(5) {
    -webkit-animation-delay: -.5s;
       -moz-animation-delay: -.5s;
         -o-animation-delay: -.5s;
            animation-delay: -.5s;
}
.la-line-scale-pulse-out.la-sm {
    width: 20px;
    height: 16px;
}
.la-line-scale-pulse-out.la-sm > div {
    width: 2px;
    height: 16px;
    margin: 1px;
    margin-top: 0;
    margin-bottom: 0;
}
.la-line-scale-pulse-out.la-2x {
    width: 80px;
    height: 64px;
}
.la-line-scale-pulse-out.la-2x > div {
    width: 8px;
    height: 64px;
    margin: 4px;
    margin-top: 0;
    margin-bottom: 0;
}
.la-line-scale-pulse-out.la-3x {
    width: 120px;
    height: 96px;
}
.la-line-scale-pulse-out.la-3x > div {
    width: 12px;
    height: 96px;
    margin: 6px;
    margin-top: 0;
    margin-bottom: 0;
}
/*
 * Animation
 */
@-webkit-keyframes line-scale-pulse-out {
    0% {
        -webkit-transform: scaley(1);
                transform: scaley(1);
    }
    50% {
        -webkit-transform: scaley(.3);
                transform: scaley(.3);
    }
    100% {
        -webkit-transform: scaley(1);
                transform: scaley(1);
    }
}
@-moz-keyframes line-scale-pulse-out {
    0% {
        -moz-transform: scaley(1);
             transform: scaley(1);
    }
    50% {
        -moz-transform: scaley(.3);
             transform: scaley(.3);
    }
    100% {
        -moz-transform: scaley(1);
             transform: scaley(1);
    }
}
@-o-keyframes line-scale-pulse-out {
    0% {
        -o-transform: scaley(1);
           transform: scaley(1);
    }
    50% {
        -o-transform: scaley(.3);
           transform: scaley(.3);
    }
    100% {
        -o-transform: scaley(1);
           transform: scaley(1);
    }
}
@keyframes line-scale-pulse-out {
    0% {
        -webkit-transform: scaley(1);
           -moz-transform: scaley(1);
             -o-transform: scaley(1);
                transform: scaley(1);
    }
    50% {
        -webkit-transform: scaley(.3);
           -moz-transform: scaley(.3);
             -o-transform: scaley(.3);
                transform: scaley(.3);
    }
    100% {
        -webkit-transform: scaley(1);
           -moz-transform: scaley(1);
             -o-transform: scaley(1);
                transform: scaley(1);
    }
}
