@font-face {
    font-family: 'Alte Din';
    src: url('../assets/din1451alt.ttf');
}


body {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Alte Din', sans-serif;
    font-weight: 100;
    user-select: none;
    background-color:  #61CA9D;
}

input {
    font-family: 'Alte Din';
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(97,202,157, 0.2);
  border-right: 1.1em solid rgba(97,202,157, 0.2);
  border-bottom: 1.1em solid rgba(97,202,157, 0.2);
  border-left: 1.1em solid #61CA9D;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


#preferences-form {
    visibility: none;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 65px;
    align-items: center;
    flex-direction: column
}

.mui-btn, .mui-btn:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    height: 40px;
    width: 240px;
    color:  white!important;
    background-color:  #50A885!important;
}

.mui-btn:active {
    color:  white!important;
    background-color: #529B80!important;
}

.mui-select {
    width: 80%;
}

.mui-select > select, .mui-select > label {
    color: #E6E4E7;
}

.mui-select:focus > select {
    border-color: #529B80;
}

.mui-select:focus>label, .mui-select>select:focus~label {
    color: #529B80;
}

#backdrop {
    position: absolute;
    height: 415px;
    background-color: #212025;
    width: 100vw;
    border-radius: 2px;
    top: 75px;
    z-index: -1
}
